@model IEnumerable<Ogretmen>
    <h2>
        Öğretmen Listesi
    </h2>
    <hr>
    <a asp-action="Create" class="btn btn-primary">Öğretmen Ekle</a>

    <table class="table table-border">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m => m.OgretmenId)
                <th>@Html.DisplayNameFor(m => m.Ad)
                <th>@Html.DisplayNameFor(m => m.Soyad)
                <th>@Html.DisplayNameFor(m => m.BaslamaTarihi)
                <th style="width: 150px;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OgretmenId)</td>
                <td>@Html.DisplayFor(modelItem => item.Ad)</td>
                <td>@Html.DisplayFor(modelItem => item.Soyad)</td>
                <td>@Html.DisplayFor(modelItem => item.BaslamaTarihi)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>